[Unit]
Description=familyfe-vipimo-server

[Service]
User=root
Group=root
WorkingDirectory=/root/familyfe-vipimo-server
ExecStart=/root/familyfe-vipimo-server/start.sh
SyslogIdentifier=familyfe-vipimo-server
Restart=on-failure
RestartSec=5


[Install]
WantedBy=multi-user.target